<head>
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson }};</script>
    <script type=text/javascript src="{{ url_for('static', filename='ticket_displayer.js') }}"></script>
</head>
<body onload="get_tickets(1, false, true);">
    <h1>Zendesk Ticket Viewer</h1>
    <p id="count">Total Tickets:</p>
    <p id="load"> Loading </p>
    <table id="tv"><tbody id="#tb"></tbody></table>
    <p id="page_count">Displaying page of</p>
    <div id="#navigation_controls">
        <button class="nav" onclick="first()">First</button>
        <button class="nav" id="prev" onclick="prev()">Previous Page</button>
        <button class="nav" id="next" onclick="next()">Next Page</button>
        <button class="nav" onclick="last()">Last</button>
    </div>
</body>